[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../esp-binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv/riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/riscv/riscv-newlib.git
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
